* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    padding: 10px;
}

/*** Product ***/

.my_prod_row_class {
    padding-top: 15px;
    padding-bottom: 20px;
}
.my_prod_row_class .mx-auto p a{
    color: #000;
    font-size: 12px;
    text-decoration: none;
}

/*** Navbar ***/
.my-header {
    background-color: skyblue;
    border-bottom: 1px solid aliceblue;
}
.nav-item {
    letter-spacing: 0.1em;
    font-size: 14px;
    text-transform: uppercase;
}
.dropdown-item {
    letter-spacing: 0.1em;
    font-size: 14px;
    text-transform: uppercase;
}
.my_footer {
    background-color: skyblue;
    height: 20px;
}
.my_footer p {
    padding-top: 5px;
    font-size: 10px;
    color: #333;
}

/*** category ***/
.my_row_class {
    padding-top: 15px;
}
.my_row_class .mx-auto {
    color: #000;
    font-size: 12px;
}
.my_image {
    width: 100%;
    height: auto;
}
.my_title {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bolder;
}
.my_image_padding {
    padding: 5px;
}
.my_bottom_margin{
    margin-bottom: 10px;
}

.card-body h4 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

/*** Cart Page ***/
.my_custom_table {
    min-width: 400px;
    font-size: 14px;
}
.my_custom_thead {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-color: #f8f8fa !important;
}
.custom_a {
    text-decoration: none;
}
.custom_icon {
    text-decoration: none;
    color: #868e96 !important;
}
.my_custom_button {
    margin-top: 5px;
}